<h1> Hello, <%= @user.username.capitalize %></h1><br>


<%= link_to "New Review", new_review_path %>
<br>

<p>
Show User's Music Reviews Here
Stretch: Maybe add an Artist/Song of the Week for the User Or a Currently Playing thing
</p>