<h1> Reactions </h1>
<br>

<% @reactions.each do |reaction|%>
<ol>
    <%= reaction.review.title %>:
    <br>
    <%= reaction.user.username.capitalize %> said:<br>
   "<%= reaction.comment.capitalize %>"
    <br><br>
</ol>

<% end %>