<h1> Reactions </h1><br>

<div class="form">
    <% @reactions.each do |reaction|%>
    <ol>
        <%= reaction.review.title %>:<br>
        <%= reaction.user.username.capitalize %> said:<br>
        "<%= reaction.comment.capitalize %>"<br><br>
    </ol>

    <% end %>