<h1> Reactions to <%= @reaction.review.user.username %>'s  "<%= @reaction.review.artist_name %>" Review</h1><br>

<p>
# show your reaction and other users' here

    <%= @reaction.user.username.capitalize %> said: "<%= @reaction.comment.capitalize%>"
</p>