/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

*{
    margin: auto;
    padding: auto;
    font-family: "Impact", fantasy;
}

body {
    // background: url('pexels-expect-best.jpg') ;
    background-size: cover;
} 

div {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    text-align: center;
}

h1 {
    width: 50%;
    position: center;
    left: 100px;
    top: 150px;
    color: black;
    text-shadow: 2px 2px #ff0000;
}

// .boxed {
//     width: 400px;
//     border: 5px solid black ;
// }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    position: auto;
    margin-top: 25px;
    margin-left: 25px;
}
  
ul li {
    text-align: center;
    display: inline-flex ;
    margin: auto;
    width: 143%;
}
  
ul li a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    padding: 5px 20px;
    border: 5px solid black;
    transition: 0.06s ease;
    position: relative;
    
    
}

ul li a:hover{
    background-color: rgb(168, 155, 170);
    color: #000
}
  
ul li.active a{
    background-color: #fff;
    color: #000
}
  
  /* unvisited link */
a:link {
    color: grey;
}
  
/* visited link */
a:visited {
    color: red;
}
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.title h1{
    color: rgb(236, 208, 208);
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.page-title h1{
    color: rgb(236, 208, 208);
}