<div class="title">
    <div class="container">
        <div class="child">
            <h1> We Are...The Melomaniacs </h1>
        </div>
    </div>
</div>
<br>


<ol>
    <li><%= link_to "Login", login_path%></li>
</ol>
<ol>
    <li><%= link_to "Sign Up", signup_path%></li>
</ol>
