<h1>ALL REVIEWS </h1>

<%= @reviews.each do |review| %>

    <h3><%= review.title.capitalize %></h3>
    <p>
        <%= review.content.capitalize %><br>
        <%= review.user.username.capitalize %>
    </p><br>

<% end %>