<h1>ALL REVIEWS </h1>

<% @reviews.each do |review| %>

    <h3><%= review.title.capitalize %></h3>
    <p>
        <%= review.content.capitalize %><br>
        <%= review.user.username.capitalize %>
    </p><br>

    <%= link_to "React to this Review", new_review_reaction_path(review.id)%>

<% end %>