<h1>ALL REVIEWS </h1>

<div class="form">

<% @reviews.each do |review| %>

    <h3><%= link_to review.title.capitalize, review_path(review.id) %></h3>
    <br>
    <p>
        <%= review.content.capitalize %><br><br>
        By: <%= review.user.username.capitalize %>
    </p>
<br>----------------------------------------<br>
<% end %>
</div>